  *{
  	margin:0;
  	padding:0;
  	border:0;
    text-align:center;
   }
   body{
     background-color: lightblue;
     margin: 0 1em 0 1em;
   }
   header{
    text-align:center;
    background-color: brown;
    color: yellow;
   }
   article{
     background-color: cyan;
   }
   footer h2{
      background-color: cyan;
   }
   article p{
     padding: 1em;
   }
   .img{text-align:center;
   }
   nav{
     background-color: black;
     padding: 0.5em;
   }
   nav p{
     display: inline;
     padding: 1.5em;
   }
   nav a{
     text-decoration: none;
     color:yellow;
   }
   nav a:hover{
     text-decoration: none;
     color:white;
   }
  </style>